name: CI - Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build --pull --no-cache -t devsecops-p1:ci .

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: devsecops-p1:ci
          severity: CRITICAL,HIGH
          exit-code: 1

